USE [master]
GO
/****** Object:  Database [Brew_db]    Script Date: 13.12.2025 22:39:59 ******/
CREATE DATABASE [Brew_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Brew_db', FILENAME = N'C:\Users\necsu\Desktop\MS SQL Dev\MSSQL16.MSSQLSERVER\MSSQL\DATA\Brew_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Brew_db_log', FILENAME = N'C:\Users\necsu\Desktop\MS SQL Dev\MSSQL16.MSSQLSERVER\MSSQL\DATA\Brew_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Brew_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Brew_db]
GO
/****** Object:  Table [dbo].[Ingredients]    Script Date: 13.12.2025 22:39:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ingredients](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Unit] [nvarchar](50) NULL,
	[CurrentStock] [decimal](10, 2) NOT NULL,
	[MinStockThreshold] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Modifiers]    Script Date: 13.12.2025 22:39:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modifiers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[PriceAddition] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItemModifiers]    Script Date: 13.12.2025 22:39:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItemModifiers](
	[OrderItemId] [int] NOT NULL,
	[ModifierId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderItemId] ASC,
	[ModifierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 13.12.2025 22:39:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 13.12.2025 22:39:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderNumber] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Total] [decimal](10, 2) NOT NULL,
	[IsTakeaway] [bit] NOT NULL,
	[UserId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductIngredients]    Script Date: 13.12.2025 22:39:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductIngredients](
	[ProductId] [int] NOT NULL,
	[IngredientId] [int] NOT NULL,
	[AmountPerUnit] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC,
	[IngredientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductModifiers]    Script Date: 13.12.2025 22:39:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductModifiers](
	[ProductId] [int] NOT NULL,
	[ModifierId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC,
	[ModifierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 13.12.2025 22:39:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Category] [nvarchar](255) NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[IsAvailable] [bit] NOT NULL,
	[ImagePath] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 13.12.2025 22:39:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 13.12.2025 22:39:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](255) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[Role] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Ingredients] ON 

INSERT [dbo].[Ingredients] ([Id], [Name], [Unit], [CurrentStock], [MinStockThreshold]) VALUES (1, N'Milk', N'ml', CAST(392.45 AS Decimal(10, 2)), CAST(88.45 AS Decimal(10, 2)))
INSERT [dbo].[Ingredients] ([Id], [Name], [Unit], [CurrentStock], [MinStockThreshold]) VALUES (2, N'Mozzarella', N'g', CAST(520.30 AS Decimal(10, 2)), CAST(25.00 AS Decimal(10, 2)))
INSERT [dbo].[Ingredients] ([Id], [Name], [Unit], [CurrentStock], [MinStockThreshold]) VALUES (3, N'Tomato Sauce', N'g', CAST(945.12 AS Decimal(10, 2)), CAST(32.10 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Ingredients] OFF
GO
SET IDENTITY_INSERT [dbo].[Modifiers] ON 

INSERT [dbo].[Modifiers] ([Id], [Name], [PriceAddition]) VALUES (1, N'Extra Cheese', CAST(2.50 AS Decimal(10, 2)))
INSERT [dbo].[Modifiers] ([Id], [Name], [PriceAddition]) VALUES (2, N'Gluten-Free Bun', CAST(1.00 AS Decimal(10, 2)))
INSERT [dbo].[Modifiers] ([Id], [Name], [PriceAddition]) VALUES (3, N'Spicy', CAST(0.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Modifiers] OFF
GO
INSERT [dbo].[OrderItemModifiers] ([OrderItemId], [ModifierId]) VALUES (1, 1)
INSERT [dbo].[OrderItemModifiers] ([OrderItemId], [ModifierId]) VALUES (1, 4)
INSERT [dbo].[OrderItemModifiers] ([OrderItemId], [ModifierId]) VALUES (2, 9)
GO
SET IDENTITY_INSERT [dbo].[OrderItems] ON 

INSERT [dbo].[OrderItems] ([Id], [OrderId], [ProductId], [Quantity]) VALUES (1, 1, 1, 2)
INSERT [dbo].[OrderItems] ([Id], [OrderId], [ProductId], [Quantity]) VALUES (2, 1, 14, 1)
INSERT [dbo].[OrderItems] ([Id], [OrderId], [ProductId], [Quantity]) VALUES (3, 2, 5, 1)
SET IDENTITY_INSERT [dbo].[OrderItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Id], [OrderNumber], [CreatedAt], [Status], [Total], [IsTakeaway], [UserId]) VALUES (1, N'ORD-20250001', CAST(N'2025-02-14T14:32:00.0000000' AS DateTime2), N'Ready', CAST(40.12 AS Decimal(10, 2)), 1, 3)
INSERT [dbo].[Orders] ([Id], [OrderNumber], [CreatedAt], [Status], [Total], [IsTakeaway], [UserId]) VALUES (2, N'ORD-20250002', CAST(N'2025-03-22T09:15:00.0000000' AS DateTime2), N'Delivered', CAST(28.66 AS Decimal(10, 2)), 0, 1)
INSERT [dbo].[Orders] ([Id], [OrderNumber], [CreatedAt], [Status], [Total], [IsTakeaway], [UserId]) VALUES (3, N'ORD-20250003', CAST(N'2025-04-05T18:47:00.0000000' AS DateTime2), N'Preparing', CAST(52.44 AS Decimal(10, 2)), 1, 9)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
INSERT [dbo].[ProductIngredients] ([ProductId], [IngredientId], [AmountPerUnit]) VALUES (1, 2, CAST(120.00 AS Decimal(10, 2)))
INSERT [dbo].[ProductIngredients] ([ProductId], [IngredientId], [AmountPerUnit]) VALUES (1, 3, CAST(80.00 AS Decimal(10, 2)))
INSERT [dbo].[ProductIngredients] ([ProductId], [IngredientId], [AmountPerUnit]) VALUES (1, 29, CAST(50.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[ProductModifiers] ([ProductId], [ModifierId]) VALUES (1, 1)
INSERT [dbo].[ProductModifiers] ([ProductId], [ModifierId]) VALUES (1, 4)
INSERT [dbo].[ProductModifiers] ([ProductId], [ModifierId]) VALUES (1, 5)
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [Name], [Category], [Price], [Description], [IsAvailable], [ImagePath]) VALUES (1, N'Борщ', N'Dishes', CAST(349.00 AS Decimal(10, 2)), N'Насыщенный свекольный суп с говядиной, картофелем, капустой и сметаной.', 1, N'Default.png')
INSERT [dbo].[Products] ([Id], [Name], [Category], [Price], [Description], [IsAvailable], [ImagePath]) VALUES (2, N'Пельмени домашние', N'Dishes', CAST(449.00 AS Decimal(10, 2)), N'Нежные пельмени ручной лепки с сочной начинкой из свинины и говядины.', 0, N'Default.png')
INSERT [dbo].[Products] ([Id], [Name], [Category], [Price], [Description], [IsAvailable], [ImagePath]) VALUES (3, N'Оливье', N'Dishes', CAST(279.00 AS Decimal(10, 2)), N'Классический салат с варёными овощами, колбасой, яйцами и майонезом.', 0, N'Default.png')
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Name]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (3, N'Client')
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (2, N'Manager')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Login], [PasswordHash], [Role], [IsActive]) VALUES (1, N'user1_7639', N'hash_cdb43b57', 3, 1)
INSERT [dbo].[Users] ([Id], [Login], [PasswordHash], [Role], [IsActive]) VALUES (2, N'user2_6270', N'hash_ec84ac62', 2, 0)
INSERT [dbo].[Users] ([Id], [Login], [PasswordHash], [Role], [IsActive]) VALUES (3, N'user3_2842', N'hash_5c18e720', 2, 0)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Orders__CAC5E74353B99A7B]    Script Date: 13.12.2025 22:39:59 ******/
ALTER TABLE [dbo].[Orders] ADD UNIQUE NONCLUSTERED 
(
	[OrderNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__737584F6D15593CF]    Script Date: 13.12.2025 22:39:59 ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__5E55825B6F44FEF6]    Script Date: 13.12.2025 22:39:59 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ingredients] ADD  DEFAULT ((0.00)) FOR [CurrentStock]
GO
ALTER TABLE [dbo].[Ingredients] ADD  DEFAULT ((0.00)) FOR [MinStockThreshold]
GO
ALTER TABLE [dbo].[Modifiers] ADD  DEFAULT ((0.00)) FOR [PriceAddition]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('New') FOR [Status]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0.00)) FOR [Total]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [IsTakeaway]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((1)) FOR [IsAvailable]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[OrderItemModifiers]  WITH CHECK ADD  CONSTRAINT [FK_OrderItemModifiers_Modifiers] FOREIGN KEY([ModifierId])
REFERENCES [dbo].[Modifiers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderItemModifiers] CHECK CONSTRAINT [FK_OrderItemModifiers_Modifiers]
GO
ALTER TABLE [dbo].[OrderItemModifiers]  WITH CHECK ADD  CONSTRAINT [FK_OrderItemModifiers_OrderItems] FOREIGN KEY([OrderItemId])
REFERENCES [dbo].[OrderItems] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderItemModifiers] CHECK CONSTRAINT [FK_OrderItemModifiers_OrderItems]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Orders] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Orders]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Products]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users]
GO
ALTER TABLE [dbo].[ProductIngredients]  WITH CHECK ADD  CONSTRAINT [FK_ProductIngredients_Ingredients] FOREIGN KEY([IngredientId])
REFERENCES [dbo].[Ingredients] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductIngredients] CHECK CONSTRAINT [FK_ProductIngredients_Ingredients]
GO
ALTER TABLE [dbo].[ProductIngredients]  WITH CHECK ADD  CONSTRAINT [FK_ProductIngredients_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductIngredients] CHECK CONSTRAINT [FK_ProductIngredients_Products]
GO
ALTER TABLE [dbo].[ProductModifiers]  WITH CHECK ADD  CONSTRAINT [FK_ProductModifiers_Modifiers] FOREIGN KEY([ModifierId])
REFERENCES [dbo].[Modifiers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductModifiers] CHECK CONSTRAINT [FK_ProductModifiers_Modifiers]
GO
ALTER TABLE [dbo].[ProductModifiers]  WITH CHECK ADD  CONSTRAINT [FK_ProductModifiers_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductModifiers] CHECK CONSTRAINT [FK_ProductModifiers_Products]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([Role])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[ProductIngredients]  WITH CHECK ADD CHECK  (([AmountPerUnit]>(0)))
GO
USE [master]
GO
